<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Fleteros - Bienvenido</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body style="background-color: lightgrey;">

        <nav class="blue darken-4">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Fletz</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="sass.html">Sass</a></li>
                        <li><a href="badges.html">Components</a></li>
                        <li><a href="collapsible.html">JavaScript</a></li>
                    </ul>
            </div>
        </nav>
        <div class="container">
            <div th:each="fletero : ${fleteros}">
                <a th:id="${fletero.id}" th:href="@{'/ficha'(id=${fletero.id})}" th:text="${fletero.apellidoYNombre}" class="waves-effect waves-light btn-large"></a><br />
            </div>
        </div>
        
        <h4>Es mi primer commit, hola Heroku!</h4>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <script>
            $(document).on("ready",function(){
               alert("Bienvenidos"); 
            });
        </script>
    </body>
</html>
